[build]
builder = "DOCKERFILE"

[deploy]
startCommand = "chmod +x start.sh && ./start.sh"
healthcheckPath = "/api/health/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
